@charset "UTF-8";

$gdw-orange: #e15a3a;
$gdw-dark-orange: darken($gdw-orange, 30%);
$gdw-gray: #756f6d;

@import "normalize";
@import "foundation/settings";
@import "foundation";
@import "social-icons/social_foundicons";
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

.invisible-button {
  @include button($button-med, $gdw-orange, false, false, false, false);
}

section#header-spacer {
  background-color: white;
  @media #{$small-only} {
    padding-top: 1rem;
  }
  @media #{$medium-up} {
    padding-top: 2rem;
  }
}

header {
  position: relative;
  background-color: white;

  .title {
    font-weight: 700;
    font-size: rem-calc(67);
    color: $gdw-orange;
    line-height: 120%;
  }

  .subtitle {
    font-weight: 300;
    font-size: rem-calc(28);
    color: $gdw-gray;
    line-height: 120%;
  }

  .floating-img {
    display: none;
    @media #{$large-up} {
      display: block;
    }
    position: absolute;
    height: 100%;
    bottom: 0;

    &.keyboard {
      right: 0;
    }
  }
}

section#content {
  padding-top: 2rem;

  .content-column {
    @extend .small-12;
    @extend .medium-9;
    @extend .columns;
  }

  ul {
    margin-left: 0;
    li {
      list-style: none;
      line-height: 150%;
      padding-bottom: rem-calc($base-font-size);
    }
  }

  strong {
    text-transform: uppercase;
    font-weight: 700;
  }

  .social-button-column {
    @extend .small-4;
    @extend .medium-4;
    @extend .columns;

    .button {
      @extend .invisible-button;
      @extend .radius;
      @extend .expand;

      i {
        font-size: 2rem;
      }
    }
  }
}

footer {
  @media #{$medium-up} {
    padding-top: 2rem;
  }
}
