@charset "UTF-8";

$gdw-orange: #e15a3a;
$gdw-dark-orange: darken($gdw-orange, 30%);
$gdw-gray: #756f6d;

@import "normalize";
@import "foundation/settings";
@import "foundation";
@import "social-icons/social_foundicons";
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

.invisible-button {
  @include button($button-med, $gdw-orange, false, false, false, false);
}

header {
  position: relative;
  background-color: white;

  .logo {
    @media #{$small-only} {
      background-color: $gdw-orange;
      text-align: center;
      .for-medium-up {
        display: none;
      }
    }
    @media #{$medium-up} {
      background-color: white;
      .for-small {
        display: none;
      }
    }
  }

  .text {
    @media #{$small-only} {
      padding-top: rem-calc(28);
      padding-bottom: rem-calc(28);
    }
    @media #{$medium-up} {
      padding-top: rem-calc(21);
    }

    h1 {
      font-weight: 700;
      font-size: rem-calc(50);
      color: $gdw-orange;
      line-height: 120%;
      margin: 0;
    }

    h2 {
      font-weight: 300;
      font-size: rem-calc(21);
      color: $gdw-gray;
      line-height: 120%;
      margin: 0;
    }
  }
}

section#content {
  padding-top: 2rem;

  .content-column {
    @extend .small-12;
    @extend .medium-9;
    @extend .columns;
  }

  ul {
    margin-left: 0;
    li {
      list-style: none;
      line-height: 150%;
      padding-bottom: rem-calc($base-font-size);
    }
  }

  strong {
    text-transform: uppercase;
    font-weight: 700;
  }

  .social-button-column {
    @extend .small-4;
    @extend .medium-4;
    @extend .columns;

    .button {
      @extend .invisible-button;
      @extend .radius;
      @extend .expand;

      i {
        font-size: 2rem;
      }
    }
  }
}

footer {
  @media #{$medium-up} {
    padding-top: 2rem;
  }
}
